VITE_COUNT_BOOKS_URL=https://COUNT_BOOKS_TRIGGER.cn-hangzhou.fcapp.run
VITE_BOOK_INSIGHTS_URL=https://BOOK_INSIGHTS_TRIGGER.cn-hangzhou.fcapp.run
VITE_OPENWEATHER_API_KEY=replace_with_your_openweather_api_key
